/* ***** Farbschema Gelb ***** */

a:link {color:#F00;text-decoration:none;font-weight:bold} 
a:visited {color:#C00;text-decoration:none;font-weight:bold} 
a:hover {color:#F88;text-decoration:none;font-weight: bold}
a:active {color:#FFF;background:#F80;text-decoration:none;font-weight:bold}

a.ext {background:url(../css/img/arw_red.gif) no-repeat center left;padding-left:16px}

a.menu:link {color:#000;font-weight:bold;text-decoration:none;}
a.menu:visited {color:#000;font-weight:bold;text-decoration:none;}
a.menu:hover {color:#000;text-decoration:none;}


body {
	background-color:#FFFFFF;
	color:black;
    background-color:#FFFFC0;
	font-family:Arial,Verdana;
	background-repeat:repeat-y;
	margin:30px 100px;
	scrollbar-DarkShadow-Color:#CCC;
	scrollbar-Track-Color:#FFFFC0; scrollbar-Face-Color:#F80;
	scrollbar-Shadow-Color:#FC0; scrollbar-Highlight-Color:#F80;
	scrollbar-3dLight-Color:#FFF; scrollbar-Arrow-Color:#FFF; 
}

body.default { 
	font-family:Arial;
	font-size:10pt;
	background:white;
	margin:0px;
}

h1 {
	color:#C40;
	font-size:20pt;
	font-weight:bold;
	font-variant:small-caps;
	margin-top:24px;
	margin-bottom:6px;
}

h2 {
	color:#F80;
	font-size:16pt;
	font-weight:bold;
	border-bottom:solid 6px #F80;
	margin-top:24px;
	margin-bottom:6px;
}

h3 {
	color:#F80;
	font-size:12pt;
	font-weight:normal;
	font-variant:small-caps;
	border-bottom:solid 1px #F80;
	margin-top:12px;
	margin-bottom:6px;
}

h4 {
	color:#C60;
	font-size:10pt;
	font-weight:bold;
	margin-top:-5px;
	margin-bottom:0px;
}

h6 { /* Bildbeschriftung */
    color:#C00;
    margin:0px;
    padding:1px;
    font-size:0.8em;
    font-style:italic;
	font-weight:normal;
    text-indent:4px;
}

.pic {
    cursor:pointer;
    cursor:hand;
    width:320px;
    height:240px;
    border:1px solid gray;
}

hr {
	background-color:#FC0;
	height:1px;
	margin-top:12px;
	margin-bottom:12px;
}

ol {
	color:#F00;
	font-weight:bold;
}

ul.arw {
	list-style-image:url('../css/img/arw_red.gif'); 
	margin-left:20px; /* Angabe für IE */
	padding-left:0px; /* Angabe für FF */
}

ul.arw li {
	padding-bottom:0.5em;
}

ul.dot {
	list-style-image:url('../css/img/dot_yellow.gif');
	margin-left:20px;
	padding-left:20px;
}

ul.dot li {
	padding-bottom:0.1em;
}

abbr, acronym {
	border-bottom:1px dotted #03B;
	cursor:help;
}

.trenn { 
	color:#FFF;
	margin-top:-6px;
	font-weight:bold;
	font-size:x-small;
	font-variant:normal;
	text-align:right;
	background-color:#F80;
	border-width:0px;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
}

.trenn2 {
	color:#FFF;
	font-weight:bold;
	background-color:#C60;
	border-width:0px;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse
}

/* *************************** */
/* ***** Stylesheet Menü ***** */

#menu {
	position:absolute;
	left:0px; /* Menüposition links */
	top:0px;
	z-index:1;
	height:20px;
	text-align:left;
}

#menu td, div.subMenu td, .subCfgCmd td {
	cursor:pointer;
    cursor:hand;
	width:120px;
	min-width:120px;
	height:20px;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	padding:0px;
	color:#FFF;
	border:solid 1px #FFFFC0;
	background-color: #F80;

	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	khtml-opacity:0.9;
	opacity:0.9;
}

div.subMenu {
	cursor:pointer;
	visibility:hidden;
	position:absolute;
	top:22px;
	z-index:2;
	font-size:10pt;
	font-weight:bold;
	color:#000;
	text-align:left;
	overflow:hidden;
	margin:0px;

	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	khtml-opacity:0.9;
	opacity:0.9;
}

div.subMenu td { 
	text-align:left;
	border:solid 1px white;
}

#menu .cmdOvr, div.subMenu .subOvr, #subConfig .subOvr {
	border-color:#DDD #222 #222 #DDD;
}

#menu .cmdDwn, div.subMenu .subDWn, #subConfig .subDwn  {
	border-color:#222 #DDD #DDD #222;
}

/* *************************** */
/* ****** Config Window ****** */

.cfg {
	border:1px solid gray;
	background-color: #FFFFC0;
}

#btnCfg {
    background-image:url(img/cfg_wht.png);
}
